<h1>Listing ideas</h1>

<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
        <%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %>
        <h4>
      		Submitted <%= time_ago_in_words(idea.created_at) %> 
		      by <%= idea.user.email %>
		    </h4>
		    <%= link_to like_idea_path(idea), method: :put do %>
				  Upvote
				  <%= idea.get_upvotes.size %>
				<% end %>

				<%= link_to dislike_idea_path(idea), method: :put do %>
				  Downvote
					<%= idea.get_downvotes.size %>
				<% end %>
      </div>
    <% end %>
  </div>
<% end %>

